*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
}

.map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 100vh;
    
}
.control{
    display: flex;
    align-items: center;
    height:10%;
    /* background-color: aquamarine; */
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    justify-content: center;
}

.over {
    height: 15%;
    /* display: flex; */
    align-items: center;
    justify-content: center;

    background: linear-gradient(to right, #29bdd9 0%, #276ace 100%);}
.out {
    height: 15%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
   
}

.grid-1 {
    background: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 100%);
}

.control-gps  {
    
    height: 15%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    
}

.control-gps #button-gps-real ,.control-gps #button-gps-virtual , .control-gps #control-hs-container{
    /* padding: 2px; */
    /* width: 60%; */
    height: 100%;
    /* background-color: rgb(170, 175, 175); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid rgb(215, 211, 211) */
}

.out #button-gps-real , .over #button-gps-real,
.out #button-gps-virtual , .over #button-gps-virtual,
.out #control-hs-container ,.over #control-hs-container{
    /* padding: 2px; */
    /* width: 60%; */
    height: 99%;
    /* background-color: rgb(170, 175, 175); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid rgb(215, 211, 211) */
}
.control-gps #circle ,.control-gps #searchbutton{
    /* padding: 2px; */
    /* width: 60%; */
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid rgb(215, 211, 211) */
}

.out #circle, .over #circle,.out #searchbutton, .over #searchbutton{
    /* padding: 2px; */
    /* width: 60%; */
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid rgb(215, 211, 211) */
}
/* .header{
    color: aliceblue;
} */

.control-radius{
    display: flex;
    justify-content: space-evenly;
}

.switch_on {

    font-size: 16px;

    width: 40px;

    height: 50px;

    line-height: 50px;

}

.switch_on span,.switch_on input {

    width: 40px;

    height: 50px;

    position: absolute;

    background: none;

    -webkit-appearance: none;

}

.switch_on span.input.checked:before {

    border-color: #64bd63;

    box-shadow: #64bd63 0px 0px 0px 16px inset;

    background-color: #64bd63;

    transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;

}

.switch_on span.input:before {

    content: '';

    width: 40px;

    height: 20px;

    border-radius: 20px;

    display: inline-block;

    position: absolute;

    top: 12.5px;

    left: 0;
    
    border: 1px solid #dfdfdf;

    box-shadow: #dfdfdf 0px 0px 0px 0px inset;
    
    background-color: #fdfdfd;

    transition: border 0.4s, box-shadow 0.4s;

    background-clip: content-box;

}

/* // checked后的样式 */
.switch_on span.input.checked:after {
    
    left: 22px;
}

.switch_on span.input:after {

    content: '';

    width: 20px;

    height: 20px;

    position: absolute;

    top: 12.5px;

    left: 0;  

    border-radius: 100%;

    background-color: #fff;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

    transition: left 0.2s;  

}


#radius {
    background: linear-gradient(to right, #ffa200, white 0%, white);
    background-size: 100% 100%;
}